
@{
    ViewBag.Title = "Ana Sayfa";
}


<table border="1">
    <thead>
        <tr>
            <th>Aktif Kullanıcı</th>
            <th>Toplam Ziyaretçi</th>
        </tr>
    </thead>   
    
    <tbody>
        <tr>
            <td>@ViewBag.ActiveUser</td>
            <td>ViewBag.TotalVisiter</td>
        </tr>
    </tbody>
</table>